/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
 .upgrade_to_pro{
	padding-top: 100px;
	padding: 15px;
	border-radius: 2px;
	-webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
	box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
	margin-bottom: 20px;
	background: url('../images/xt_logo.png') no-repeat bottom 5%right 5% #fff;
	background-size: 20%;
}
.upgrade_to_pro h2{
	font-size: 22px !important;
	padding: 0px !important; 
}
.upgrade_button{
	height: 36px !important;
	padding: 4px 20px !important;
	font-size: 16px !important;
}

.hide_frequency .import_frequency, .ife_eventbrite_form tr.eventbrite_organizer_id{
  display: none;
}

.setting_bar {
    background-color: #f9f9f9;
    margin-bottom: 10px;
    padding: 6px 0 6px 12px;
}

.import_events_nav{
	background-color: #fafafa;
}

.import_events_nav ul.vercal_tabs{
	position: relative;
	float: left;
	list-style: none;
	width: 200px;
	line-height: 1em;
	margin: 0 0 -1px 0;
	padding: 0;
	background-color: #fafafa;
	border-right: 1px solid #eee;
	box-sizing: border-box;
}

.import_events_nav ul.vercal_tabs li {

    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    line-height: 20px;

}

.import_events_nav ul.vercal_tabs li a {
    display: block;
    margin: 0;
    padding: 12px;
    line-height: 20px !important;
    text-decoration: none;
    border-bottom: 1px solid #eee;
    box-shadow: none;
    font-size: 14px;
}

.import_events_nav ul.vercal_tabs li.active a {
    position: relative;
    font-weight: 700;
    color: #555;
    background-color: #fff;
    margin: 0px -1px 0px 0px;
    border-left: 2px solid #00a0d2;
}

.import_events_nav_content {
    float: left;
    width: calc(100% - 200px);
    margin-left: -1px;
    border-left: 1px solid #eee;
    padding: 20px;
	box-sizing: border-box;
	background-color: #fff;
}

.import-facebook-events-page-content{
	background-color: #fff;
	border: 1px solid #ccc;	
	margin: 20px 0;
}

@media ( max-width: 460px ){
	.import_events_nav ul.vercal_tabs{
		float: none;
		width: 100%;
	}
	.import_events_nav_content {
	    float: none;
	    width: 100%;
	}
}

.ife_container * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.ife_container *:before,
.ife_container *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.ife_container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.ife_row {
  margin-left: -15px;
  margin-right: -15px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.xtei-column{
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.ife_container:before,
.ife_container:after,
.ife_row:before,
.ife_row:after {
  content: " ";
  display: table;
}

.ife_container:after,
.ife_row:after {
  clear: both;
}

.ife_well{
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    margin: 10px 0;
    padding: 8px 20px 12px;
}
.ife_label{
    font-weight: bold;
    margin-right: 20px;
    display: block;
    margin-bottom: 5px;
}
.ife_small {
    font-size: 13px;
    color: #777;
    display: block;
    margin-top: 5px;
}
.ife_submit_button{
    margin-top: 10px !important;
}

/*#poststuff .stuffbox > h3, #poststuff h2, #poststuff h3.hndle {
    padding-bottom: 0px;
}*/
.ife_element {
    margin-top: 5px;
    margin-bottom: 20px;
}
.ife_small span.borderall {
    border: 2px solid red;
}
.tecauto_cat, .emauto_cat{
  display: none;
  margin-left: 25px;
}

.ife_desciption {
    display: block;
    margin-left: 25px;
    font-size: 13px;
    font-style: italic;
    color: #bababa;
}

/* Meta box design */
table.ife_form_table td, table.ife_form_table th {
    padding: 2px 10px;
    text-align: left;
}
table.ife_form_table{
  width: 100%;
}
table.ife_form_table td input[type="text"]{
  vertical-align: bottom;
}
table.ife_form_table tr td:nth-child(1) {
  width: 160px;
}


.plugin_box {
    width: 24%;
    float: left;
    background-color: #fff;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    margin-bottom: 20px;
    margin-left: 0.5%;
    margin-right: 0.5%;
}

.plugin_box .plugin_img{
    width: 100%;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.plugin_box h3{
    margin: 0.5em 0;
}
.plugin_box .plugin_content{
    padding: 10px 10px 20px 10px;
}
 @media (max-width: 1300px ){
    .plugin_box {
        width: 32.333%;
    }
}
@media (max-width: 1080px ){
    .plugin_box {
        width: 48%;
        margin-left: 1%;
        margin-right: 1%;
    }
}
 @media (max-width: 1080px ){
    .plugin_box {
        width: 100%;
        float: none;
    }
}

.import-facebook-events-page .fb_authorize {
    padding: 0px 15px;
    margin-top: -10px;
    background: #ddd;
}

.vc_ui-panel .ife_datepicker .ui-datepicker-inline {
    display: none !important;
}

.ife_settings_notice{
    width: 100%;
    background-color: #fcf8e3;
    border: 1px solid #faebcc;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.04);
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    padding: 10px;
    color: #8a6d3b;
}

.ife_settings_error{
    width: 100%;
    background-color: #f2dede;
    border: 1px solid #ebccd1;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.04);
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    padding: 10px;
    color: #a94442;
    margin-bottom: 5px;
}

.ife_inprogress_import strong{
    color: green;
}

.toplevel_page_facebook_import #TB_window.thickbox-loading:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: -1;
  margin: -10px 0 0 -10px;
  background: #fcfcfc url(../../../../../wp-admin/images/spinner.gif) no-repeat center;
  background-size: 20px 20px;
  transform: translateZ(0);
}

.toplevel_page_facebook_import #TB_window {
  background: #fcfcfc;
}

.toplevel_page_facebook_import #TB_title {
  float: left;
  height: 1px;
}

.toplevel_page_facebook_import #TB_ajaxWindowTitle {
  display: none;
}

.toplevel_page_facebook_import #TB_closeWindowButton {
  left: auto;
  right: -30px;
  color: #eee;
}

.toplevel_page_facebook_import #TB_closeWindowButton:hover,
.toplevel_page_facebook_import #TB_closeWindowButton:focus {
  color: #00a0d2;
  outline: none;
  box-shadow: none;
}

.toplevel_page_facebook_import .tb-close-icon {
  display: none;
}

.toplevel_page_facebook_import #TB_closeWindowButton:after {
  content: "\f335";
  font: normal 32px/29px 'dashicons';
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 830px) {
  .toplevel_page_facebook_import #TB_closeWindowButton {
    right: 0;
    top: -30px;
  }
} 

/* Support page CSS */
.ife-support-features-card {
  display: flex;
  flex-basis: 32%;
  flex-wrap: nowrap;
  flex-grow: 1;
  box-sizing: border-box;
  margin: .5rem;
  background-color: #fff;
  box-shadow: 0 0 0 1px #ccd0d4, 0 1px 1px 1px rgba(0, 0, 0, 0.04)
}

.ife-support-features-card:last-child {
  max-width: 100%
}

@media (min-width: 661px) {
  .ife-support-features-card {
      margin-bottom: 1%
  }
}

@media (max-width: 660px) {
  .ife-support-features-card {
      max-width: 100%;
      margin-bottom: .5rem
  }
}

@media (min-width: 481px) {
  .ife-support-features-card {
      padding: 2rem
  }
}

@media (max-width: 480px) {
  .ife-support-features-card {
      padding: 1rem
  }
}

.ife-support-features-list {
  list-style: initial;
  margin-left: 1rem
}

.ife-support-features-img {
  width: 5.625rem;
  margin-right: .5rem;
  line-height: 1
}

@media (min-width: 961px) {
  .ife-support-features-img {
      width: 6.5rem;
      margin-right: 1.125rem
  }
}

.ife-support-features-icon {
  display: block;
  max-width: 80%;
  margin-left: 0px;
}

@media (min-width: 481px) {
  .ife-support-features-icon {
      max-width: 80%;
      margin-left: 0px;
  }
}

.ife-support-features-text {
  flex: 1
}

.ife-support-features-title {
  margin: 0
}

.ife-support-features {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  margin-bottom: 2rem;
  margin-left: -.5rem;
  margin-right: -.5rem
}

@media (max-width: 660px) {
  .ife-support-features {
      display: block
  }
}

/*Upgrade to pro link CSS*/
.ife_upgrade_pro {
  background: #1da867;
}

#ife_edit_scheduled_import .form-table td input{
  width: 100%;
}
#ife_edit_scheduled_import .form-table td select{
  width: 100%;
}

.ife_google_maps_api_key, .ife_google_geolocation_api_key{
  width: 50%;
}

.ife_tab_container {
  margin: 20px 10px;
}

.ife_nav_tabs {
  list-style: none;
  padding: 0;
  margin: 0;
}

.ife_nav_tabs li {
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-bottom: none;
  background-color: #f2f2f2;
  color: #333;
}

.ife_tab_content {
  display: none;
  padding: 10px;
  background-color: #f2f2f2;
  color: #333;
}

.ife_tab_content.active {
  display: block;
}

.ife_navbar {
  background-color: #f2f2f2;
  padding: 10px;
}

.ife_nav_tabs {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.ife_nav_tabs li {
  position: relative;
  display: inline-block;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px 5px 0 0;
  background-color: #dcdcde;
  color: #333;
  border: 1px solid #ccc;
  border-bottom: none;
  margin-bottom: -1px;
}

.ife_nav_tabs li.active {
  font-weight: bold;
  background-color: unset;
  border-bottom: 1px solid #f0f0f1;
}

.ife_gmap_error_message{
  font-weight: bold;
  color: red;
  margin-left: 10px;
}
.ife_gmap_success_message{
  font-weight: bold;
  color: green;
  margin-left: 10px;
}

.ife_loader {
  position: relative;
  display: none;
}

.ife_loader::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: -20px;
  width: 10px;
  height: 10px;
  background-color: #333;
  border-radius: 50%;
  animation: pulse 1s ease-in-out infinite;
}

@keyframes pulse {
  0% { transform: scale(0); }
  50% { transform: scale(1.2); }
  100% { transform: scale(0); }
}

.ife-lh{
  line-height: 1.5 !important;
}

.ife_link_cp{
  width: 10%;
  text-align: left;
}