.row_grid *, .ife_eventmeta * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.row_grid *:before,
.row_grid *:after,
.ife_eventmeta *:before,
.ife_eventmeta *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.ife_container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .ife_container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .ife_container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .ife_container {
    width: 1170px;
  }
}
.ife_container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.row_grid {
  margin-left: -15px;
  margin-right: -15px;
}
.col-ife-xs-1, .col-ife-sm-1, .col-ife-md-1, .col-ife-lg-1, .col-ife-xs-2, .col-ife-sm-2, .col-ife-md-2, .col-ife-lg-2, .col-ife-xs-3, .col-ife-sm-3, .col-ife-md-3, .col-ife-lg-3, .col-ife-xs-4, .col-ife-sm-4, .col-ife-md-4, .col-ife-lg-4, .col-ife-xs-5, .col-ife-sm-5, .col-ife-md-5, .col-ife-lg-5, .col-ife-xs-6, .col-ife-sm-6, .col-ife-md-6, .col-ife-lg-6, .col-ife-xs-7, .col-ife-sm-7, .col-ife-md-7, .col-ife-lg-7, .col-ife-xs-8, .col-ife-sm-8, .col-ife-md-8, .col-ife-lg-8, .col-ife-xs-9, .col-ife-sm-9, .col-ife-md-9, .col-ife-lg-9, .col-ife-xs-10, .col-ife-sm-10, .col-ife-md-10, .col-ife-lg-10, .col-ife-xs-11, .col-ife-sm-11, .col-ife-md-11, .col-ife-lg-11, .col-ife-xs-12, .col-ife-sm-12, .col-ife-md-12, .col-ife-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 2%;
}
.col-ife-xs-1, .col-ife-xs-2, .col-ife-xs-3, .col-ife-xs-4, .col-ife-xs-5, .col-ife-xs-6, .col-ife-xs-7, .col-ife-xs-8, .col-ife-xs-9, .col-ife-xs-10, .col-ife-xs-11, .col-ife-xs-12 {
  float: left;
}
.col-ife-xs-12 {
  width: 100%;
}
.col-ife-xs-11 {
  width: 91.66666667%;
}
.col-ife-xs-10 {
  width: 83.33333333%;
}
.col-ife-xs-9 {
  width: 75%;
}
.col-ife-xs-8 {
  width: 66.66666667%;
}
.col-ife-xs-7 {
  width: 58.33333333%;
}
.col-ife-xs-6 {
  width: 50%;
}
.col-ife-xs-5 {
  width: 41.66666667%;
}
.col-ife-xs-4 {
  width: 33.33333333%;
}
.col-ife-xs-3 {
  width: 25%;
}
.col-ife-xs-2 {
  width: 16.66666667%;
}
.col-ife-xs-1 {
  width: 8.33333333%;
}
.col-ife-xs-pull-12 {
  right: 100%;
}
.col-ife-xs-pull-11 {
  right: 91.66666667%;
}
.col-ife-xs-pull-10 {
  right: 83.33333333%;
}
.col-ife-xs-pull-9 {
  right: 75%;
}
.col-ife-xs-pull-8 {
  right: 66.66666667%;
}
.col-ife-xs-pull-7 {
  right: 58.33333333%;
}
.col-ife-xs-pull-6 {
  right: 50%;
}
.col-ife-xs-pull-5 {
  right: 41.66666667%;
}
.col-ife-xs-pull-4 {
  right: 33.33333333%;
}
.col-ife-xs-pull-3 {
  right: 25%;
}
.col-ife-xs-pull-2 {
  right: 16.66666667%;
}
.col-ife-xs-pull-1 {
  right: 8.33333333%;
}
.col-ife-xs-pull-0 {
  right: auto;
}
.col-ife-xs-push-12 {
  left: 100%;
}
.col-ife-xs-push-11 {
  left: 91.66666667%;
}
.col-ife-xs-push-10 {
  left: 83.33333333%;
}
.col-ife-xs-push-9 {
  left: 75%;
}
.col-ife-xs-push-8 {
  left: 66.66666667%;
}
.col-ife-xs-push-7 {
  left: 58.33333333%;
}
.col-ife-xs-push-6 {
  left: 50%;
}
.col-ife-xs-push-5 {
  left: 41.66666667%;
}
.col-ife-xs-push-4 {
  left: 33.33333333%;
}
.col-ife-xs-push-3 {
  left: 25%;
}
.col-ife-xs-push-2 {
  left: 16.66666667%;
}
.col-ife-xs-push-1 {
  left: 8.33333333%;
}
.col-ife-xs-push-0 {
  left: auto;
}
.col-ife-xs-offset-12 {
  margin-left: 100%;
}
.col-ife-xs-offset-11 {
  margin-left: 91.66666667%;
}
.col-ife-xs-offset-10 {
  margin-left: 83.33333333%;
}
.col-ife-xs-offset-9 {
  margin-left: 75%;
}
.col-ife-xs-offset-8 {
  margin-left: 66.66666667%;
}
.col-ife-xs-offset-7 {
  margin-left: 58.33333333%;
}
.col-ife-xs-offset-6 {
  margin-left: 50%;
}
.col-ife-xs-offset-5 {
  margin-left: 41.66666667%;
}
.col-ife-xs-offset-4 {
  margin-left: 33.33333333%;
}
.col-ife-xs-offset-3 {
  margin-left: 25%;
}
.col-ife-xs-offset-2 {
  margin-left: 16.66666667%;
}
.col-ife-xs-offset-1 {
  margin-left: 8.33333333%;
}
.col-ife-xs-offset-0 {
  margin-left: 0%;
}
@media (min-width: 768px) {
  .col-ife-sm-1, .col-ife-sm-2, .col-ife-sm-3, .col-ife-sm-4, .col-ife-sm-5, .col-ife-sm-6, .col-ife-sm-7, .col-ife-sm-8, .col-ife-sm-9, .col-ife-sm-10, .col-ife-sm-11, .col-ife-sm-12 {
    float: left;
  }
  .col-ife-sm-12 {
    width: 100%;
  }
  .col-ife-sm-11 {
    width: 91.66666667%;
  }
  .col-ife-sm-10 {
    width: 83.33333333%;
  }
  .col-ife-sm-9 {
    width: 75%;
  }
  .col-ife-sm-8 {
    width: 66.66666667%;
  }
  .col-ife-sm-7 {
    width: 58.33333333%;
  }
  .col-ife-sm-6 {
    width: 50%;
  }
  .col-ife-sm-5 {
    width: 41.66666667%;
  }
  .col-ife-sm-4 {
    width: 33.33333333%;
  }
  .col-ife-sm-3 {
    width: 25%;
  }
  .col-ife-sm-2 {
    width: 16.66666667%;
  }
  .col-ife-sm-1 {
    width: 8.33333333%;
  }
  .col-ife-sm-pull-12 {
    right: 100%;
  }
  .col-ife-sm-pull-11 {
    right: 91.66666667%;
  }
  .col-ife-sm-pull-10 {
    right: 83.33333333%;
  }
  .col-ife-sm-pull-9 {
    right: 75%;
  }
  .col-ife-sm-pull-8 {
    right: 66.66666667%;
  }
  .col-ife-sm-pull-7 {
    right: 58.33333333%;
  }
  .col-ife-sm-pull-6 {
    right: 50%;
  }
  .col-ife-sm-pull-5 {
    right: 41.66666667%;
  }
  .col-ife-sm-pull-4 {
    right: 33.33333333%;
  }
  .col-ife-sm-pull-3 {
    right: 25%;
  }
  .col-ife-sm-pull-2 {
    right: 16.66666667%;
  }
  .col-ife-sm-pull-1 {
    right: 8.33333333%;
  }
  .col-ife-sm-pull-0 {
    right: auto;
  }
  .col-ife-sm-push-12 {
    left: 100%;
  }
  .col-ife-sm-push-11 {
    left: 91.66666667%;
  }
  .col-ife-sm-push-10 {
    left: 83.33333333%;
  }
  .col-ife-sm-push-9 {
    left: 75%;
  }
  .col-ife-sm-push-8 {
    left: 66.66666667%;
  }
  .col-ife-sm-push-7 {
    left: 58.33333333%;
  }
  .col-ife-sm-push-6 {
    left: 50%;
  }
  .col-ife-sm-push-5 {
    left: 41.66666667%;
  }
  .col-ife-sm-push-4 {
    left: 33.33333333%;
  }
  .col-ife-sm-push-3 {
    left: 25%;
  }
  .col-ife-sm-push-2 {
    left: 16.66666667%;
  }
  .col-ife-sm-push-1 {
    left: 8.33333333%;
  }
  .col-ife-sm-push-0 {
    left: auto;
  }
  .col-ife-sm-offset-12 {
    margin-left: 100%;
  }
  .col-ife-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-ife-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-ife-sm-offset-9 {
    margin-left: 75%;
  }
  .col-ife-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-ife-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-ife-sm-offset-6 {
    margin-left: 50%;
  }
  .col-ife-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-ife-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-ife-sm-offset-3 {
    margin-left: 25%;
  }
  .col-ife-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-ife-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-ife-sm-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 992px) {
  .col-ife-md-1, .col-ife-md-2, .col-ife-md-3, .col-ife-md-4, .col-ife-md-5, .col-ife-md-6, .col-ife-md-7, .col-ife-md-8, .col-ife-md-9, .col-ife-md-10, .col-ife-md-11, .col-ife-md-12 {
    float: left;
    margin-bottom: 2%;
  }
  .col-ife-md-12 {
    width: 100%;
  }
  .col-ife-md-11 {
    width: 91.66666667%;
  }
  .col-ife-md-10 {
    width: 83.33333333%;
  }
  .col-ife-md-9 {
    width: 75%;
  }
  .col-ife-md-8 {
    width: 66.66666667%;
  }
  .col-ife-md-7 {
    width: 58.33333333%;
  }
  .col-ife-md-6 {
    width: 50%;
  }
  .col-ife-md-5 {
    width: 41.66666667%;
  }
  .col-ife-md-4 {
    width: 33.33333333%;
    margin-bottom: 2%;
  }
  .col-ife-md-3 {
    width: 25%;
  }
  .col-ife-md-2 {
    width: 16.66666667%;
  }
  .col-ife-md-1 {
    width: 8.33333333%;
  }
  .col-ife-md-pull-12 {
    right: 100%;
  }
  .col-ife-md-pull-11 {
    right: 91.66666667%;
  }
  .col-ife-md-pull-10 {
    right: 83.33333333%;
  }
  .col-ife-md-pull-9 {
    right: 75%;
  }
  .col-ife-md-pull-8 {
    right: 66.66666667%;
  }
  .col-ife-md-pull-7 {
    right: 58.33333333%;
  }
  .col-ife-md-pull-6 {
    right: 50%;
  }
  .col-ife-md-pull-5 {
    right: 41.66666667%;
  }
  .col-ife-md-pull-4 {
    right: 33.33333333%;
  }
  .col-ife-md-pull-3 {
    right: 25%;
  }
  .col-ife-md-pull-2 {
    right: 16.66666667%;
  }
  .col-ife-md-pull-1 {
    right: 8.33333333%;
  }
  .col-ife-md-pull-0 {
    right: auto;
  }
  .col-ife-md-push-12 {
    left: 100%;
  }
  .col-ife-md-push-11 {
    left: 91.66666667%;
  }
  .col-ife-md-push-10 {
    left: 83.33333333%;
  }
  .col-ife-md-push-9 {
    left: 75%;
  }
  .col-ife-md-push-8 {
    left: 66.66666667%;
  }
  .col-ife-md-push-7 {
    left: 58.33333333%;
  }
  .col-ife-md-push-6 {
    left: 50%;
  }
  .col-ife-md-push-5 {
    left: 41.66666667%;
  }
  .col-ife-md-push-4 {
    left: 33.33333333%;
  }
  .col-ife-md-push-3 {
    left: 25%;
  }
  .col-ife-md-push-2 {
    left: 16.66666667%;
  }
  .col-ife-md-push-1 {
    left: 8.33333333%;
  }
  .col-ife-md-push-0 {
    left: auto;
  }
  .col-ife-md-offset-12 {
    margin-left: 100%;
  }
  .col-ife-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-ife-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-ife-md-offset-9 {
    margin-left: 75%;
  }
  .col-ife-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-ife-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-ife-md-offset-6 {
    margin-left: 50%;
  }
  .col-ife-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-ife-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-ife-md-offset-3 {
    margin-left: 25%;
  }
  .col-ife-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-ife-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-ife-md-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 1200px) {
  .col-ife-lg-1, .col-ife-lg-2, .col-ife-lg-3, .col-ife-lg-4, .col-ife-lg-5, .col-ife-lg-6, .col-ife-lg-7, .col-ife-lg-8, .col-ife-lg-9, .col-ife-lg-10, .col-ife-lg-11, .col-ife-lg-12 {
    float: left;
  }
  .col-ife-lg-12 {
    width: 100%;
  }
  .col-ife-lg-11 {
    width: 91.66666667%;
  }
  .col-ife-lg-10 {
    width: 83.33333333%;
  }
  .col-ife-lg-9 {
    width: 75%;
  }
  .col-ife-lg-8 {
    width: 66.66666667%;
  }
  .col-ife-lg-7 {
    width: 58.33333333%;
  }
  .col-ife-lg-6 {
    width: 50%;
  }
  .col-ife-lg-5 {
    width: 41.66666667%;
  }
  .col-ife-lg-4 {
    width: 33.33333333%;
  }
  .col-ife-lg-3 {
    width: 25%;
  }
  .col-ife-lg-2 {
    width: 16.66666667%;
  }
  .col-ife-lg-1 {
    width: 8.33333333%;
  }
  .col-ife-lg-pull-12 {
    right: 100%;
  }
  .col-ife-lg-pull-11 {
    right: 91.66666667%;
  }
  .col-ife-lg-pull-10 {
    right: 83.33333333%;
  }
  .col-ife-lg-pull-9 {
    right: 75%;
  }
  .col-ife-lg-pull-8 {
    right: 66.66666667%;
  }
  .col-ife-lg-pull-7 {
    right: 58.33333333%;
  }
  .col-ife-lg-pull-6 {
    right: 50%;
  }
  .col-ife-lg-pull-5 {
    right: 41.66666667%;
  }
  .col-ife-lg-pull-4 {
    right: 33.33333333%;
  }
  .col-ife-lg-pull-3 {
    right: 25%;
  }
  .col-ife-lg-pull-2 {
    right: 16.66666667%;
  }
  .col-ife-lg-pull-1 {
    right: 8.33333333%;
  }
  .col-ife-lg-pull-0 {
    right: auto;
  }
  .col-ife-lg-push-12 {
    left: 100%;
  }
  .col-ife-lg-push-11 {
    left: 91.66666667%;
  }
  .col-ife-lg-push-10 {
    left: 83.33333333%;
  }
  .col-ife-lg-push-9 {
    left: 75%;
  }
  .col-ife-lg-push-8 {
    left: 66.66666667%;
  }
  .col-ife-lg-push-7 {
    left: 58.33333333%;
  }
  .col-ife-lg-push-6 {
    left: 50%;
  }
  .col-ife-lg-push-5 {
    left: 41.66666667%;
  }
  .col-ife-lg-push-4 {
    left: 33.33333333%;
  }
  .col-ife-lg-push-3 {
    left: 25%;
  }
  .col-ife-lg-push-2 {
    left: 16.66666667%;
  }
  .col-ife-lg-push-1 {
    left: 8.33333333%;
  }
  .col-ife-lg-push-0 {
    left: auto;
  }
  .col-ife-lg-offset-12 {
    margin-left: 100%;
  }
  .col-ife-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-ife-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-ife-lg-offset-9 {
    margin-left: 75%;
  }
  .col-ife-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-ife-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-ife-lg-offset-6 {
    margin-left: 50%;
  }
  .col-ife-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-ife-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-ife-lg-offset-3 {
    margin-left: 25%;
  }
  .col-ife-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-ife-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-ife-lg-offset-0 {
    margin-left: 0%;
  }
}
.ife_container:before,
.ife_container:after,
.ife_container-fluid:before,
.ife_container-fluid:after,
.row_grid:before,
.row_grid:after {
  content: " ";
  display: table;
}
.ife_container:after,
.ife_container-fluid:after,
.row_grid:after {
  clear: both;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.ife_eventmeta .organizermain{ padding:40px; width:100%; background:#fafafa; border:1px solid #eeeeee; margin:30px 0;}
.ife_eventmeta .organizermain:after{ clear: both; }
.ife_eventmeta .details { float: left; width: 50%;}
.ife_eventmeta .details > a { display: block; line-height:18px;}
.ife_eventmeta .details > p {margin-bottom: 10px;margin-top:0;}
.ife_eventmeta .venue{ float:left; width:35%;}
.ife_eventmeta .map {border:2px solid #ddd;float: left;width:64%; border-radius:2px;}
@media (max-width: 768px){
    .ife_eventmeta .details, .ife_eventmeta .map, .ife_eventmeta .venue{float: none;width:100%;}
}
.ife_eventmeta .titlemain{ font-size:18px; font-weight:bold; color:#444444; margin-bottom:10px;}
.ife_eventmeta .organizermain.library{ margin-top:0;}

.ife_event .event_date {
    background-color: #039ED7;
    color: #fff;
    padding: 10px 5px 5px 5px;
    text-align: center;
    width: 75px;
    float: left;
    height: 100%;
    
}

.ife_event .event_date .month {
    display: block;
    font-size: 1.2em;
    text-align: center;
    line-height: 1.2em;
}

.ife_event .event_date .date {
    display: block;
    text-align: center;
    font-size: 1.6em;
    line-height: 1.6em;
}

.ife_event .event_details {
    background-color: #f5f5f5;
    height: 80px;
}

.ife_event .event_desc {
    float: left;
    width: calc( 100% - 75px );
    padding: 8px 10px;
}

.ife_event .event_desc .event_address, .ife_event .event_desc .event_title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 90%;
}

.ife_event .event_desc .event_title {
  font-size: 1.2em;
  color: #039ED7;
}

.ife_event .img_placeholder{
  background-size: cover !important;
  min-height: 130px;
}
.archive-event .ife_event{
  height: 210px;
  font-size: 16px;
}

/*
 *  Widget Style Start
 */
.ife_widget_style1 .event_details{
  height: auto;
}

.ife_widget{
  margin-bottom: 10px;
}

.ife_event_listing_widget {
    max-height: 600px;
    overflow: auto;
}

.ife_widget_style1 .event_date {
    background-color: #039ED7;
    color: #fff;
    padding: 10px 5px 5px 5px;
    text-align: center;
    width: 75px;
    float: left;
    height: 100%;
}

.ife_widget_style1 .event_picture {
    background-color: #efefef;
    color: #fff;
    padding: 12px;
    text-align: center;
    width: 75px;
    float: left;
    height: 100%;    
}

.ife_widget_style1 .event_date .month {
    display: block;
    font-size: 1.2em;
    text-align: center;
    line-height: 1.2em;
}

.ife_widget_style1 .event_date .date {
    display: block;
    text-align: center;
    font-size: 1.6em;
    line-height: 1.6em;
}

.ife_widget_style1 .event_details {
    background-color: #f5f5f5;
    height: 75px;
}

.ife_widget_style1 .event_details .fa, .ife_event .event_details .fa{
  text-align: center;
  width: 16px;
}

.ife_widget_style1 .event_details p.description{
  color: #666;
}

.ife_widget_style1 .event_desc {
    float: left;
    width: calc( 100% - 75px );
    padding: 8px 10px;
}

.ife_widget_style1 .event_desc .event_address{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 90%;
}

.ife_widget_style1 .event_desc .event_name {
  font-size: 1.2em;
  color: #039ED7;
  line-height: 1.3em;
}
.ife-start-date__dialog .components-popover__content, .ife-end-date__dialog .components-popover__content {
  padding: 10px;
}
.components-panel__row.ife-start-date.ife_hidden, .components-panel__row.ife-end-date.ife_hidden{
  display: none;
}